body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}﻿
.popular-items-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 100px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
}﻿
article h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}
